# --- ARCHIVOS DE PYTHON ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# --- ENTORNOS VIRTUALES ---
env/
venv/
.venv/
ENV/
env.bak/

# --- NOTEBOOKS ---
.ipynb_checkpoints/
*.ipynb_convert/
*.nbconvert/

# --- DATOS (MUY IMPORTANTE EN TFG) ---
datasets/
*.csv
*.xlsx
*.xls
*.sav
*.parquet
*.feather
*.json

# --- MODELOS ENTRENADOS ---


# --- ARCHIVOS DE SALIDA / RESULTADOS ---
outputs/
results/
plots/
figures/
shap_plots/
*.png
*.jpg
*.svg

# --- CONFIGURACIONES LOCALES ---
.vscode/
.idea/
*.code-workspace

# --- LOGS ---
*.log
logs/

# --- ARCHIVOS TEMPORALES ---
tmp/
temp/
*.tmp

# --- ENTORNOS Y DEPENDENCIAS ---
*.env
.env.*
*.ini
*.cfg

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db

# --- OTROS ---
*.bak
*.old

